body {
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background:transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    color: #eee;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.add-button {
    border: none;
    outline: none;
    background: #e6b7eca1;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter, .delete-all {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.todos-container {
    background: transparent;
    border-radius: 4px;
    padding: 20px;
}

.todos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #e6b7eca1;
    border-radius: 4px;
    margin-bottom: 10px;
    background: rgba(230, 183, 236, 0.3);
}

.custom-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.custom-checkbox:checked {
    border-color: transparent;
    background-color: transparent;
    background-image: url('check.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.delete-btn {
    color: #333;
    cursor: pointer;
}
.delete-btn:hover {
    color: red;
}

.text-center {
    margin-top: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
